<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>My Page Title</title>

        <link rel="stylesheet" href="{{baseUrl}}/public/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{baseUrl}}/public/css/main.min.css">
    </head>
    <body>
       <h2>Mi aplicación en Slim3!</h2><br>

       <h3>Registrar Producto</h3><br>
       <form name="registrarP" method="post">
       <h5>NOMBRE:</h5><input type="text" name="producto" id="producto">
       <h5>PRECIO:</h5><input type="text" name="precio" id="precio">
       <h5>DESCRIPCION:</h5><input type="text" name="descripcion" id="descripcion"></h5>
       <h5><input type="submit" name="registrar" id="registrar" value="Registrar"</h5>
     </form>
     <!-- <script src="{{baseUrl}}/public/js/jquery-3.3.1.min.js"></script>
     <script src="{{baseUrl}}/public/js/popper.min.js"></script>
     <script src="{{baseUrl}}/public/js/bootstrap.min.js"></script>
     <script src="{{baseUrl}}/public/js/main.js"></script> -->

    </body>
</html>
